@import "/css/global/header.css";
@import "/css/global/global.css";

/* Home */
@import "/css/home/introducao.css";
@import "/css/home/tecnologia.css";

/* Utilidades */
@import "/css/utilities/componentes.css";
@import "/css/utilities/tipografia.css";
@import "/css/utilities/cores.css";

/* Bicicletas */
@import "/css/bicicletas/bicicletas-lista.css";

.main-bg {
  background-color: var(--c12);
  box-shadow: inset 0 -120px #fff;
}

.main-bg > .container.grid {
  gap: 0px 40px;
  padding-bottom: 180px;
}

@media (max-width: 800px) {
  .main-bg {
    background-color: var(--c11);
    box-shadow: inset 0 -100px #fff;
  }
}

@media (max-width: 600px) {
}
