@import "/css/global/header.css";
@import "/css/global/global.css";
@import "/css/home/introducao.css";
@import "/css/utilities/componentes.css";
@import "/css/utilities/tipografia.css";
@import "/css/utilities/cores.css";

.main-bg {
  background-color: var(--c12);
  box-shadow: inset 0 -120px #fff;
}

.main-bg > .container.grid {
  gap: 0px 40px;
  padding-bottom: 180px;
}

.bicicletas {
  gap: 20px;
  padding-bottom: 4rem;
  flex-direction: row;
  flex: 1;
  padding: 20px 10px;
}

.bicicleta.flex {
  gap: 20px;
  flex-direction: column;
  flex: 1;
}

.bicicleta h3,
.bicicleta span {
  padding-left: 20px;
}

.bicicleta {
  position: relative;
  /* min-width: 300px; */
}

.bicicleta h3::before {
  content: "";
  background-color: var(--p1);
  width: 12px;
  height: 8px;
  position: absolute;
  display: inline-block;
  left: 3px;
  bottom: 45px;
}

.bicicleta img {
  border-radius: 4px;
}

@media (max-width: 800px) {
  .main-bg {
    background-color: var(--c11);
    box-shadow: inset 0 -100px #fff;
  }
}

@media (max-width: 600px) {
  /* .container.grid img {
    display: none;
  } */
}
