.introducao {
  place-content: center;
  grid-template-columns: 1fr;
  gap: 20px;
  justify-items: left;
}

.introducao-titulo {
  margin-bottom: 32px;
}

.introducao-texto {
  max-width: 40ch;
  margin-bottom: 20px;
}

.introducao-img {
  margin-bottom: -120px;
  margin-right: 10px;
}

@media (max-width: 800px) {
  .introducao-titulo {
    margin-bottom: 16px;
  }

  .introducao-img img {
    height: 360px;
    width: 100%;
  }
}
